body{
	width:100vw;
	height: 100vh;
	display:flex;
	justify-content: center;
	flex-direction: center;
	text-align: center;
}

form{
	
		display:flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap:50px;
		
	
}

.container-home{
	background: rgb(19,0,36);
	background: linear-gradient(90deg, rgba(19,0,36,0.28335084033613445) 34%, rgba(156,61,161,0.29175420168067223) 51%, rgba(0,212,255,0.2665441176470589) 90%);
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width:70%;
	padding:20px;
	border-radius: 20px;
}

.div-buttons{
	width:50%;
	display:flex;
	justify-content: space-around;
	padding:20px;

}

p{
	font-size: 20px;
	width:50%;
	margin:0 auto;
	text-align: justify;
	margin-bottom: 20px;
	
}


h1{
	
	font-size: 32px;
	color:white;

	
	
}